In [1]:
#Loopd Statements
## while loop
## for loop
## nested loop
## loop control (Break, continue, pass)

In [2]:
#while loop
joining_age = 25
while joining_age <= 60:
  joining_age = joining_age+1
  print(joining_age)

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61

In [6]:
#while loop
joining_age = 25
while joining_age <= 60:
  print(joining_age)
  joining_age = joining_age+1
  
else:
  print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [9]:
### atm machine with 1000 rs
total_amount = 1000
while total_amount != 0:
  print(total_amount)
  total_amount = total_amount - 100

1000
900
800
700
600
500
400
300
200
100

In [10]:
total_amount = 1000
while total_amount != 0:
  print(total_amount)
  total_amount = total_amount - 100
else:
  print("put more money bank people")

1000
900
800
700
600
500
400
300
200
100
put more money bank people

In [11]:
total_amount = 1000
while total_amount != 0:
  print(total_amount)
  total_amount = total_amount - 100
else:
  print("put more money bank people")

print("hello all")

1000
900
800
700
600
500
400
300
200
100
put more money bank people
hello all

In [12]:
#for loop
lst = ["vandana", 1,2,3,4,"apple","banana"]

In [13]:
type(lst)

list

In [17]:
lst[4]

4

In [18]:
lst

['vandana', 1, 2, 3, 4, 'apple', 'banana']

In [19]:
for x in lst:
  print(x)

vandana
1
2
3
4
apple
banana

In [20]:
fruits_list = ["mango", "cherry","apple", "papaya ", "banana"]

In [21]:
for a in fruits_list:
  print(a)

mango
cherry
apple
papaya
banana

In [26]:
for a in fruits_list:
  print(a)
  if a =="cherry":
    print("the fruit is cherry")

mango
cherry
the fruit is cherry
apple
papaya
banana

In [29]:
fruit = "mango"
for x in fruit:
  print (x)

m
a
n
g
o

In [31]:
fruit[1]

'a'

In [32]:
##nested loops
n = 7

#range(start , stop, step)

In [33]:
range(1,6)

range(1, 6)

In [35]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [37]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [40]:
n = 7
for i in range(0,n):
  for j in range(0, i+1):
    print("*",end="")
  print("\r")

*
**
***
****
*****
******
*******

In [41]:
n = 4
for i in range(0,n):
  for j in range(0,i+)

SyntaxError: ignored

In [42]:
#loop controls
##break and continue
fruits_lists = ["mango", "cherry", "apple", "papaya", "banana"]

In [51]:
for i in fruits_lists:
  if i == "apple":
       print("the fruit is apple")
  print(i)

mango
cherry
the fruit is apple
apple
papaya
banana

In [52]:
for i in fruits_lists:
  if i == "apple":
       print("the fruit is apple")
       break
  print(i)

mango
cherry
the fruit is apple

In [53]:
for i in fruits_list:
  if i ==" apple":
    print("the fruit is apple")
    pass
  print(i)

mango
cherry
apple
papaya
banana

In [56]:
for i in fruits_lists:
  if i == "apple":
       print("the fruit is apple")
       continue
  print(i)

mango
cherry
the fruit is apple
papaya
banana