In [ ]:
a = 10

In [ ]:
a ="c"

In [ ]:
type(a)

str

In [ ]:
int()

0

In [ ]:
print("hello world")

hello world

In [ ]:
age = 32
print("my age is;", age)

my age is; 32

In [ ]:
print("my age is: {age}")

my age is: {age}

In [ ]:
print(f'my age is {age}')

my age is 32

In [ ]:
print("my age is :{}".format(age))

my age is :32

In [ ]:
name= "vandana"
age = 33
print('my name is {} and age {}'.format(name,age))

my name is vandana and age 33

In [ ]:
name= "vandana"
age = 33
print("my name is {firstname} and age is {firstage}".format(firstname = name,firstage=age))

my name is vandana and age is 33

In [ ]:
name = "vandana"
age = 33
degree = "DS"

print("my name is {fn} and i have complete my degree of {dg} with the age of {age}".format (fn= name, dg= degree, age = age))

my name is vandana and i have complete my degree of DS with the age of 33

In [ ]:
#If/Else
age = 18
if age >= 18:
  print("you can vote")

you can vote

In [ ]:
age - 18
if age < 18:
  print("you are not eligible to vote")
else:
  print("ok")

ok

In [ ]:
input()

vandana

'vandana'

In [ ]:
name = int(input("enter your age "))

enter your age 33

In [ ]:
#task
#take a input of age
# check whether age >= 18 ang age <= 45
#display a message you are a young blood

In [ ]:
age = int(input("enter the age "))

if age >= 18 and age <= 45:
  print ("you are the young blood")

enter the age 33
you are the young blood

In [ ]:
age = int(input("enter the age "))
if age >=18 and age  <= 45:
  print ("you are young blood")
else:
  print ("thank you we will let you know")

enter the age 46
thank you we will let you know

In [ ]:
##mall input the product price
# product > 1000 rs 20% off
## print the product price
## product <= 1000 rs 30% off
#print the product price after the removing the discount

In [ ]:
product_price = int(input("enter the product price "))
if product_price > 1000:
  print(" product price {}:".format(product_price*0.8))

if product_price < 1000:
  print("product price is {}".format(product_price*0.7))

enter the product price 999
product price is 699.3

In [ ]:
#mall input the product price
# product > 3000 rs 20% off
## print the product price
## product >= 2000  and <= 3000 rs 30% off
#print the product price after the removing the discount
## product >= 1000  and <= 2000 rs 40% off

In [ ]:
product = int(input("enter the price "))
if product >3000:
  print("product price {}".format(product*0.8))

elif product >= 2000 and product <= 3000:
  if product == 2999:
    print("Congratulations")
  print ("product price {}".format(product*0.7))


else:
  print("prodcut price {}".format(product*0.6))

enter the price 2999
Congratulations
product price 2099.2999999999997

In [2]:
(True == True)

True

In [3]:
#single statement
val = int(input ("enter the number"))
if (val== 999):print("Value is less than equal to 999")
else:
  print("Go Home")

enter the number1000
Go Home

In [4]:
#single statement
val = int(input ("enter the number"))
if (val== 999):print("Value is less than equal to 999")
else:
  print("Go Home")

enter the number999
Value is less than equal to 999